.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
  }
  .center {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column v ;
}